@import "tailwindcss";

@theme{
    --font-roboto: Roboto, sans-serif;
}

/* container */
@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }

  @variant lg {
    padding-inline: 80px;
  }

  @variant xl {
    padding-inline: 120px;
  }
}

/* colors */

@theme{
  --background-color-blue : #07B4B0;
  --background-color-red : #EE4B21;
  --color-red: #EE4B21;
}